In [1]:
import numpy as np
import pandas as pd

In [6]:
sr_list = pd.Series(["apple", "banana", "grape"],
                    index= [1,2,3])

sr_dict = pd.Series({1: 'apple', 2: 'banana', 3: 'grape'})

print(sr_list)
print(sr_dict)

print(sr_dict.iloc[1:])
print(sr_dict.loc[2:])

1     apple
2    banana
3     grape
dtype: object
1     apple
2    banana
3     grape
dtype: object
2    banana
3     grape
dtype: object
2    banana
3     grape
dtype: object

In [8]:
dict_data = {
    'c0': [1,2,3],
    'c1': 10,
    'c2': list('ABC')
}

df = pd.DataFrame(dict_data,
                  index= range(1,4))

print(df)

   c0  c1 c2
1   1  10  A
2   2  10  B
3   3  10  C

In [10]:
df_from_list = pd.DataFrame([[90,80,'남', False],
                [80,89,'남', True],
                [70,95,'여', False]],
                            columns= ['수학', '영어', '성별', '합격여부'],
                            index= [1,2,3])
print(df_from_list)

   수학  영어 성별   합격여부
1  90  80  남  False
2  80  89  남   True
3  70  95  여  False

In [11]:
df_from_list.rename(columns={'수학':'과학'},
                    index= {1:'학생1'},inplace=True)
print(df_from_list)

     과학  영어 성별   합격여부
학생1  90  80  남  False
2    80  89  남   True
3    70  95  여  False

In [12]:
saved_df = df_from_list.copy()

df_from_list.drop(['합격여부'], axis=1, inplace=True)
print(df_from_list)
print(saved_df)

     과학  영어 성별
학생1  90  80  남
2    80  89  남
3    70  95  여
     과학  영어 성별   합격여부
학생1  90  80  남  False
2    80  89  남   True
3    70  95  여  False

In [13]:
exam_data = {
    '수학': [90, 80, 70],
    '영어': [98, 89, 95],
    '음악': [85, 95, 100],
    '체육':[ 100, 90, 90]
}

df = pd.DataFrame(exam_data,
                  index= ['길동', '흥민', '민재'])
print(df)

    수학  영어   음악   체육
길동  90  98   85  100
흥민  80  89   95   90
민재  70  95  100   90

In [18]:
df['수학']

print(df.loc['흥민':,['영어','체육']])
print(df.iloc[1:,2:])

    영어  체육
흥민  89  90
민재  95  90
     음악  체육
흥민   95  90
민재  100  90

In [19]:
print(df)

df.set_index('수학', inplace=True, append= True)

print(df)

    수학  영어   음악   체육
길동  90  98   85  100
흥민  80  89   95   90
민재  70  95  100   90
       영어   음악   체육
   수학
길동 90  98   85  100
흥민 80  89   95   90
민재 70  95  100   90

In [20]:
print(df)

df_sorted = df.sort_values(by='음악', ascending= False)

print(df_sorted)

       영어   음악   체육
   수학
길동 90  98   85  100
흥민 80  89   95   90
민재 70  95  100   90
       영어   음악   체육
   수학
민재 70  95  100   90
흥민 80  89   95   90
길동 90  98   85  100

In [21]:
student1_pre = pd.Series({'국어':100, '영어':80, '수학':90})
student1_post = pd.Series({'수학':80, '국어':90, '영어':80})

addition = student1_pre + student1_post
print(addition)

국어    190
수학    170
영어    160
dtype: int64

In [22]:
import seaborn as sns

titanic = sns.load_dataset('titanic')
print(titanic)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class
0           0       3    male  22.0      1      0   7.2500        S   Third  \
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

In [24]:
data_titanic = titanic.loc[:, ['survived','sex','fare']]

data_titanic_fare = titanic.loc[:,'fare'] * 10

data_titanic['won'] = data_titanic_fare

print(data_titanic)

     survived     sex     fare      won
0           0    male   7.2500   72.500
1           1  female  71.2833  712.833
2           1  female   7.9250   79.250
3           1  female  53.1000  531.000
4           0    male   8.0500   80.500
..        ...     ...      ...      ...
886         0    male  13.0000  130.000
887         1  female  30.0000  300.000
888         0  female  23.4500  234.500
889         1    male  30.0000  300.000
890         0    male   7.7500   77.500

[891 rows x 4 columns]