In [2]:
import numpy as np
import pandas as pd

In [3]:
dict_data = {'a': 1, 'b': 2, 'c': 3 }
print(dict_data)
print(type(dict_data))
print(len(dict_data))

print()
print('pd series')
sr = pd.Series(dict_data)
print('sr =\n',sr)
print('type sr =', type(sr))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>
3

pd series
sr =
 a    1
b    2
c    3
dtype: int64
type sr = <class 'pandas.core.series.Series'>

In [4]:
## pd.Series

print('key = \n', dict_data.keys())
print('Values = \n', dict_data.values())
print(dict_data.items())

## sr

print(sr.index)
print(sr.values)

key =
 dict_keys(['a', 'b', 'c'])
Values =
 dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])
Index(['a', 'b', 'c'], dtype='object')
[1 2 3]

In [5]:
dict_data = {1:'apple', 2:'banana', 3:'grape'}

sr_fruit = pd.Series(dict_data)

print(sr_fruit)
print(sr_fruit.index)
print(sr_fruit.values)

# from list

sr_list = pd.Series(['apple', 'banana', 'grape'],
                    index=[1,2,3])

print(sr_list)

1     apple
2    banana
3     grape
dtype: object
Index([1, 2, 3], dtype='int64')
['apple' 'banana' 'grape']
1     apple
2    banana
3     grape
dtype: object

In [6]:
print(sr_list)
print(sr_list.index[0:2])
print(sr_list.values[1])

1     apple
2    banana
3     grape
dtype: object
Index([1, 2], dtype='int64')
banana

In [7]:
sr_list_test = pd.Series(['2019-01-02',3.14,'ABC',100,True],
                         index=range(1,6))

print(sr_list_test)

print(sr_list_test[1])
print(sr_list_test.loc[1:3])
print(sr_list_test.iloc[1:3])

1    2019-01-02
2          3.14
3           ABC
4           100
5          True
dtype: object
2019-01-02
1    2019-01-02
2          3.14
3           ABC
dtype: object
2    3.14
3     ABC
dtype: object

In [8]:
print(list(sr_list_test.index))

[1, 2, 3, 4, 5]

In [9]:
tup_data = ('지현', '1995-03-11', '남', False)

sr_from_tup = pd.Series(tup_data,
                        index=['이름', '생년월일', '성별', '학생여부'])

print(sr_from_tup)
print(sr_from_tup['이름'])
print(sr_from_tup.iloc[:2])
print(sr_from_tup.loc['이름':'성별'])
print()

print(sr_from_tup[['이름','학생여부']])

이름              지현
생년월일    1995-03-11
성별               남
학생여부         False
dtype: object
지현
이름              지현
생년월일    1995-03-11
dtype: object
이름              지현
생년월일    1995-03-11
성별               남
dtype: object

이름         지현
학생여부    False
dtype: object

In [10]:
tup_data = ('apple', 'tomato', 'banana', 'melon', 'grape', 'pear')
tup_index = ('A', 'B', 'C', 'D', 'E', 'F')

sr_from_tup = pd.Series(tup_data,
                        index= tup_index)

print(sr_from_tup)

print()
print(sr_from_tup.loc[['C','E']])
print(sr_from_tup.iloc[[2,4]])

print()
print(sr_from_tup.loc['B':'E'])
print(sr_from_tup.iloc[1:5])

A     apple
B    tomato
C    banana
D     melon
E     grape
F      pear
dtype: object

C    banana
E     grape
dtype: object
C    banana
E     grape
dtype: object

B    tomato
C    banana
D     melon
E     grape
dtype: object
B    tomato
C    banana
D     melon
E     grape
dtype: object

In [11]:
list_index = ['a','b','c','d']
np_data = np.array([4,5,6,7],dtype=np.int16)

sr_new = pd.Series(np_data, index=list_index, name= 'variable') 

print(sr_new)

dict_type = {
    'Kim':[10,20],
    'Park': 20,
    'Hong': 30
}

sr_new2 = pd.Series(dict_type)
print(sr_new2)

a    4
b    5
c    6
d    7
Name: variable, dtype: int16
Kim     [10, 20]
Park          20
Hong          30
dtype: object

In [12]:
## data frame

dict_data = {
    'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9],
    'c3':[10,11,12], 'c4':[13,14,15]
}

print(dict_data)
df = pd.DataFrame(dict_data,
                  index= range(1,4))

print(df)

{'c0': [1, 2, 3], 'c1': [4, 5, 6], 'c2': [7, 8, 9], 'c3': [10, 11, 12], 'c4': [13, 14, 15]}
   c0  c1  c2  c3  c4
1   1   4   7  10  13
2   2   5   8  11  14
3   3   6   9  12  15

In [13]:
dict_data = {
    '수학':[90,80,70], '영어':[98,89,95], '성별':['남','남','여'], '합격':[True, False, True]
}

list_index = ['김씨', '이씨', '박씨']

df_new = pd.DataFrame(dict_data,index=list_index)

print(df_new)

    수학  영어 성별     합격
김씨  90  98  남   True
이씨  80  89  남  False
박씨  70  95  여   True

In [14]:
df_from_list = pd.DataFrame(
    [[90,98,'남',True],
     [80,89,'남',False],
     [70,95,'여',True]],
    columns=['수학','영어','성별','합격'],
    index=['김씨','이씨','박씨']
)

print(df_from_list)

    수학  영어 성별     합격
김씨  90  98  남   True
이씨  80  89  남  False
박씨  70  95  여   True

In [15]:
df_from_list = pd.DataFrame(
    [[15,'남','덕영중'],
     [17,'여','수리중']],
    columns=['나이','성별','학교'],
    index=['준서','예은']
)

print(df_from_list)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

In [16]:
df = pd.DataFrame(
    [['green', 'M', 13.5, 'class1'],
     ['red', 'L', 15.3, 'class2']]
)
df.columns = ['color', 'size', 'price', 'class']
df.index = range(1,3)
print(df)

   color size  price   class
1  green    M   13.5  class1
2    red    L   15.3  class2

In [17]:
## DataFrame 수정

df = pd.DataFrame(
    [[15, '남', '영우중'],
     [17, '여', '에티중']],
    columns= ['나이', '성별', '학교'],
    index= ['준서', '은결']
)

print(df)

df.rename(columns= {'나이':'연령', '성별':'남여', '학교':'소속'},
          inplace= True)
df.rename(index= {'준서':'학생1','은결':'학생2'},
          inplace= True)

print(df)

    나이 성별   학교
준서  15  남  영우중
은결  17  여  에티중
     연령 남여   소속
학생1  15  남  영우중
학생2  17  여  에티중

In [25]:
exam_data = {
    '수학':[90, 80, 70],
    '영어':[98, 89, 95],
    '음악':[85, 95, 100],
    '체육':[100, 88, 75]
}

df = pd.DataFrame(exam_data,
                  index=['서준','우현','인아'])

print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   88
인아  70  95  100   75

In [30]:
df = pd.DataFrame(exam_data,
                  index=['서준','우현','인아'])

df1 = df
df2 = df.copy()

print(df.drop(['서준','우현'], axis = 0)) # default axis = 0
print(df.drop(['수학'], axis = 1, inplace= True)) # default axis = 0

print(df)
print(df1)
print(df2)

    수학  영어   음악  체육
인아  70  95  100  75
None
    영어   음악   체육
서준  98   85  100
우현  89   95   88
인아  95  100   75
    영어   음악   체육
서준  98   85  100
우현  89   95   88
인아  95  100   75
    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   88
인아  70  95  100   75

In [33]:
df_rename = pd.DataFrame({
    'A':[1, 2, 1, 3],
    'B':'2010.07.05',
    'C':1.2,
    'D':['test','word', 'test', 'word'],
    'E':'foo'
})

print(df_rename)

   A           B    C     D    E
0  1  2010.07.05  1.2  test  foo
1  2  2010.07.05  1.2  word  foo
2  1  2010.07.05  1.2  test  foo
3  3  2010.07.05  1.2  word  foo

In [37]:
df_rename.rename(columns={'A':'Type','B':'Data'}, inplace=True)
df_rename.rename(index={0:'A', 1:'B'}, inplace=True)
df_rename.drop([3],inplace=True)

print(df_rename)

   Type        Data    C     D    E
A     1  2010.07.05  1.2  test  foo
B     2  2010.07.05  1.2  word  foo
2     1  2010.07.05  1.2  test  foo

In [44]:
exam_data = {
    '수학':[90, 80, 70],
    '영어':[98, 89, 95],
    '음악':[85, 95, 100],
    '체육':[100, 88, 75]
}

df = pd.DataFrame(exam_data,
                  index=['서준','우현','인아'])
print(df)
print(df.loc['서준'])
print(df.iloc[1:3])

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   88
인아  70  95  100   75
수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64
    수학  영어   음악  체육
우현  80  89   95  88
인아  70  95  100  75

서준    90
우현    80
인아    70
Name: 수학, dtype: int64

In [50]:
print(df.loc['서준':'우현',['수학','음악']])
print(df.iloc[0:2,1:])

    수학  음악
서준  90  85
우현  80  95
    영어  음악   체육
서준  98  85  100
우현  89  95   88

In [53]:
print(df)

df.set_index('수학',inplace=True)
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   88
인아  70  95  100   75
    영어   음악   체육
수학
90  98   85  100
80  89   95   88
70  95  100   75

In [68]:
df_loc = pd.DataFrame([["고기", 4, "사자", "yes", "no"],
                      ["풀", 4, "사슴", "yes", "no"],
                      ["고기", 4, "늑대", "yes", "no"],
                      ["고기", 2, "독수리", "yes", "yes"],
                      ["잡식", 2, "곰", "no", "yes"]],
                     columns =  ["주식", "다리갯수", "이름", "무리생활", "비행"])

print(df_loc)

print()

print(df_loc.loc[0:3,:])
print()
print(df_loc.loc[:,['주식','이름','비행']])
print()
print(df_loc.loc[[0,2,3],['주식','이름','무리생활']])

   주식  다리갯수   이름 무리생활   비행
0  고기     4   사자  yes   no
1   풀     4   사슴  yes   no
2  고기     4   늑대  yes   no
3  고기     2  독수리  yes  yes
4  잡식     2    곰   no  yes

   주식  다리갯수   이름 무리생활   비행
0  고기     4   사자  yes   no
1   풀     4   사슴  yes   no
2  고기     4   늑대  yes   no
3  고기     2  독수리  yes  yes

   주식   이름   비행
0  고기   사자   no
1   풀   사슴   no
2  고기   늑대   no
3  고기  독수리  yes
4  잡식    곰  yes

   주식   이름 무리생활
0  고기   사자  yes
2  고기   늑대  yes
3  고기  독수리  yes

In [71]:
## Insert, delete

exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data)
print(df)

df['국어'] = [62, 77, 99]
df['물리'] = 100

df.loc[3] = ['흥민', 95, 71, 94, 100, 80, 99]

print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
   이름  수학  영어   음악   체육  국어   물리
0  서준  90  98   85  100  62  100
1  우현  80  89   95   90  77  100
2  인아  70  95  100   90  99  100
3  흥민  95  71   94  100  80   99

In [78]:
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data)
print(df)

df.set_index('이름', inplace= True)
print(df)

df.loc['서준', '체육'] = 50
print(df)

df.iloc[1,1] = 70
print(df)

df.loc['서준', ['음악', '체육']] = 100, 40
print(df)
print(df.T)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
      수학  영어   음악   체육
  이름
0 서준  90  98   85  100
1 우현  80  89   95   90
2 인아  70  95  100   90
         수학    영어     음악     체육
   이름
0  서준  90.0  98.0   85.0  100.0
1  우현  80.0  89.0   95.0   90.0
2  인아  70.0  95.0  100.0   90.0
서준      NaN   NaN    NaN   50.0
         수학    영어     음악     체육
   이름
0  서준  90.0  98.0   85.0  100.0
1  우현  80.0  70.0   95.0   90.0
2  인아  70.0  95.0  100.0   90.0
서준      NaN   NaN    NaN   50.0
         수학    영어     음악     체육
   이름
0  서준  90.0  98.0   85.0  100.0
1  우현  80.0  70.0   95.0   90.0
2  인아  70.0  95.0  100.0   90.0
서준      NaN   NaN  100.0   40.0
        0     1      2     서준
이름     서준    우현     인아
수학   90.0  80.0   70.0    NaN
영어   98.0  70.0   95.0    NaN
음악   85.0  95.0  100.0  100.0
체육  100.0  90.0   90.0   40.0

In [85]:
dict_data = {
    'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9],
    'c3':[10,11,12], 'c4':[13,14,15]
}

print(dict_data)
df = pd.DataFrame(dict_data,
                  index= ['r0', 'r1', 'r2'])

print(df)

df3 = df.reset_index()
print(df3)
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']

df2 = df.reindex(new_index, copy= True)
print(df2)

{'c0': [1, 2, 3], 'c1': [4, 5, 6], 'c2': [7, 8, 9], 'c3': [10, 11, 12], 'c4': [13, 14, 15]}
    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15
     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

In [87]:
df4 = df.sort_index(ascending=False)
print(df4)

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

In [90]:
print(df)
df5 = df.sort_values(by= 'c4',ascending= False)
print(df5)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

In [93]:
## 사칙연산

student1 = pd.Series({'국어':100, '영어':80, '수학':90})
print(student1)

student1_per = (student1*100)/200

print(student1_per)

국어    100
영어     80
수학     90
dtype: int64
국어    50.0
영어    40.0
수학    45.0
dtype: float64

In [96]:
student1_pre = pd.Series({'국어':100, '영어':80, '수학':90})
student1_post = pd.Series({'국어':80, '영어':90, '수학':80})

addition = student1_pre + student1_post
subtraction = student1_pre - student1_post
multi = student1_pre * student1_post
division = student1_pre / student1_post

result = pd.DataFrame([addition, subtraction, multi, division],
                      index= ['덧셈', '뺄셈', '곱하기', '나누기'])


print(result.T)

       덧셈    뺄셈     곱하기       나누기
국어  180.0  20.0  8000.0  1.250000
영어  170.0 -10.0  7200.0  0.888889
수학  170.0  10.0  7200.0  1.125000

In [97]:
! pip install seaborn

Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
                                              0.0/293.3 kB ? eta -:--:--
                                              0.0/293.3 kB ? eta -:--:--
     -                                        10.2/293.3 kB ? eta -:--:--
     -                                        10.2/293.3 kB ? eta -:--:--
     -----                                 41.0/293.3 kB 393.8 kB/s eta 0:00:01
     -------------                        112.6/293.3 kB 726.2 kB/s eta 0:00:01
     -------------------------------------  286.7/293.3 kB 1.5 MB/s eta 0:00:01
     -------------------------------------- 293.3/293.3 kB 1.3 MB/s eta 0:00:00
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\hyun9\anaconda3\envs\pandas_sample\lib\site-packages (from seaborn) (1.24.3)
Requirement already satisfied: pandas>=0.25 in c:\users\hyun9\anaconda3\envs\pandas_sample\lib\site-packages (from seaborn) (2.0.1)
Collecting matplotlib!=3.6.1,>=3.1 (from seaborn)
  Downloading matplotlib-3.7.1-cp311-cp311-win_amd64.whl (7.6 MB)
                                              0.0/7.6 MB ? eta -:--:--
     -                                        0.2/7.6 MB 4.7 MB/s eta 0:00:02
     --                                       0.5/7.6 MB 5.1 MB/s eta 0:00:02
     ---                                      0.7/7.6 MB 5.8 MB/s eta 0:00:02
     -----                                    1.0/7.6 MB 5.2 MB/s eta 0:00:02
     ------                                   1.3/7.6 MB 5.6 MB/s eta 0:00:02
     --------                                 1.6/7.6 MB 5.5 MB/s eta 0:00:02
     ----------                               1.9/7.6 MB 5.8 MB/s eta 0:00:01
     -----------                              2.2/7.6 MB 5.8 MB/s eta 0:00:01
     ------------                             2.5/7.6 MB 5.8 MB/s eta 0:00:01
     -------------                            2.6/7.6 MB 5.8 MB/s eta 0:00:01
     ---------------                          2.9/7.6 MB 5.6 MB/s eta 0:00:01
     -----------------                        3.3/7.6 MB 5.9 MB/s eta 0:00:01
     ------------------                       3.6/7.6 MB 5.9 MB/s eta 0:00:01
     --------------------                     4.0/7.6 MB 6.1 MB/s eta 0:00:01
     ----------------------                   4.2/7.6 MB 6.0 MB/s eta 0:00:01
     ------------------------                 4.6/7.6 MB 6.1 MB/s eta 0:00:01
     -------------------------                4.9/7.6 MB 6.2 MB/s eta 0:00:01
     ---------------------------              5.3/7.6 MB 6.2 MB/s eta 0:00:01
     -----------------------------            5.6/7.6 MB 6.3 MB/s eta 0:00:01
     ------------------------------           5.9/7.6 MB 6.3 MB/s eta 0:00:01
     --------------------------------         6.1/7.6 MB 6.2 MB/s eta 0:00:01
     ---------------------------------        6.3/7.6 MB 6.1 MB/s eta 0:00:01
     ----------------------------------       6.6/7.6 MB 6.2 MB/s eta 0:00:01
     ------------------------------------     6.9/7.6 MB 6.2 MB/s eta 0:00:01
     -------------------------------------    7.1/7.6 MB 6.2 MB/s eta 0:00:01
     --------------------------------------   7.4/7.6 MB 6.1 MB/s eta 0:00:01
     ---------------------------------------  7.6/7.6 MB 6.1 MB/s eta 0:00:01
     ---------------------------------------- 7.6/7.6 MB 5.9 MB/s eta 0:00:00
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.1->seaborn)
  Downloading contourpy-1.0.7-cp311-cp311-win_amd64.whl (162 kB)
                                              0.0/163.0 kB ? eta -:--:--
     -------------------------------------- 163.0/163.0 kB 4.9 MB/s eta 0:00:00
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.1->seaborn)
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.1->seaborn)
  Downloading fonttools-4.39.3-py3-none-any.whl (1.0 MB)
                                              0.0/1.0 MB ? eta -:--:--
     -------                                  0.2/1.0 MB 5.9 MB/s eta 0:00:01
     -------------------                      0.5/1.0 MB 6.2 MB/s eta 0:00:01
     ----------------------------------       0.9/1.0 MB 6.8 MB/s eta 0:00:01
     ---------------------------------------- 1.0/1.0 MB 6.4 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1 (from matplotlib!=3.6.1,>=3.1->seaborn)
  Downloading kiwisolver-1.4.4-cp311-cp311-win_amd64.whl (55 kB)
                                              0.0/55.4 kB ? eta -:--:--
     ---------------------------------------- 55.4/55.4 kB 2.8 MB/s eta 0:00:00
Requirement already satisfied: packaging>=20.0 in c:\users\hyun9\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Collecting pillow>=6.2.0 (from matplotlib!=3.6.1,>=3.1->seaborn)
  Downloading Pillow-9.5.0-cp311-cp311-win_amd64.whl (2.5 MB)
                                              0.0/2.5 MB ? eta -:--:--
     ------                                   0.4/2.5 MB 12.2 MB/s eta 0:00:01
     -------------                            0.8/2.5 MB 10.6 MB/s eta 0:00:01
     ---------------------                    1.3/2.5 MB 10.6 MB/s eta 0:00:01
     ----------------------------             1.8/2.5 MB 10.2 MB/s eta 0:00:01
     ------------------------------------     2.3/2.5 MB 10.3 MB/s eta 0:00:01
     ---------------------------------------- 2.5/2.5 MB 9.4 MB/s eta 0:00:00
Collecting pyparsing>=2.3.1 (from matplotlib!=3.6.1,>=3.1->seaborn)
  Downloading pyparsing-3.0.9-py3-none-any.whl (98 kB)
                                              0.0/98.3 kB ? eta -:--:--
     ---------------------------------------- 98.3/98.3 kB 2.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hyun9\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hyun9\anaconda3\envs\pandas_sample\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hyun9\anaconda3\envs\pandas_sample\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hyun9\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.0.7 cycler-0.11.0 fonttools-4.39.3 kiwisolver-1.4.4 matplotlib-3.7.1 pillow-9.5.0 pyparsing-3.0.9 seaborn-0.12.2

In [111]:
import seaborn as sns

titanic = sns.load_dataset('titanic')
#print(type(titanic))

#print(titanic.head())
#print(titanic.shape)

df = titanic.loc[:, ['survived', 'age', 'fare']]
df['won'] = df['fare'] * 1000
print(df)

     survived   age     fare      won
0           0  22.0   7.2500   7250.0
1           1  38.0  71.2833  71283.3
2           1  26.0   7.9250   7925.0
3           1  35.0  53.1000  53100.0
4           0  35.0   8.0500   8050.0
..        ...   ...      ...      ...
886         0  27.0  13.0000  13000.0
887         1  19.0  30.0000  30000.0
888         0   NaN  23.4500  23450.0
889         1  26.0  30.0000  30000.0
890         0  32.0   7.7500   7750.0

[891 rows x 4 columns]